.coin-container {
    display: flex;
    justify-content: center;
}

.coin-row {
    display: flex;
    flex-direction: row;
    justify-items: start;
    align-items: center;
    justify-content: space-around;
    height: 80px;
    border-bottom: 1px solid #d7d7d7;
    width: 900px;
}

.coin {
    display: flex;
    align-items: center;
    padding-right: 24px;
    min-width: 300px;
    margin-left: 1rem;
}

.coin h1 {
    font-size: 16px;
    width: 150px;
}

.coin img {
    height: 30px;
    width: 30px;
    margin-right: 10px;
}

.coin-symbol {
    text-transform: uppercase;
}

.coin-data {
    display: contents;
    text-align: center;
    justify-content: space-around;
    width: 100%;
}

.coin-price {
    width: 90px;
}

.coin-data .coin-price {
    width: 90px;
    margin-left: -9.5rem;
    margin-right: 4rem;
}

.coin-volume {
    width: 200px;
}

.coin-marketcap {
    width: 240px;
}

.coin-percent {
    width: 80px;
    /* width: 100%; */
}

.red {
    color: red;
}

.green {
    color: green;
}