.pagination-container {
    justify-content: center;
    align-items: center;
}

.pagination {
    text-align: center;
    padding: 5px;
}

.page-item {
    height: 2rem;
    width: 2rem;
    border-radius: 50%;
    text-align: center;
    display: inline-block;
    background-color: #d7d7d7;
    margin: 2px;
    margin-top: 2rem;
    padding-top: 0.50rem;

}

.page-link {
    color: #1a1a1c;
    text-decoration: none;
}